div #content{
max-width: 1600px;
margin: 0 auto;
}
nav a{
    text-align: center;
    color: #593F62;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #8EB8B8;
}
body{
    background-color: #EFBC9B;
}
header{
    background-color: white;
}
nav a:hover{
    background-color: #8EB8B8;
    color: #36151E;
}
.book, .join{
    background-color: #593F62;
    color: #EFBC9B;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color: #593F62;
    color: #EFBC9B;
}
.msg{
    background-color: #36151E;
}
footer{
    background-color: white;
    color: black;
}
.home-title{
    color: #36151E;
}
h4{
    color: #8EB8B8;
}
.msg h2{
    color: #593F62;
}
.msg p{
    color: #593F62;
}
footer a{
    color: #593F62;
    text-decoration: none;
}
footer a:hover{
    color: #36151E;
}
.logo{
    width: 80px;
}
.icon{
    width: 80px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}